@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Michroma&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Eagle+Lake&display=swap');

/* google fonts */
.michroma-regular {
    font-family: "Michroma", sans-serif;
    font-weight: 400;
    font-style: normal;
}
.eagle-lake-regular {
    font-family: "Eagle Lake", serif;
    font-weight: 400;
    font-style: normal;
}

/* xray lines */
.xray-1 {border: 1px dashed black;}
.xray-2 {border: 2px dashed black;}
.xray-3 {border: 3px dashed black;}